html, body
{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #FFF6E0;
}

.pagebar
{
    display: flex;
    flex-direction: column;
    margin-right: 0;
    width: 150px;
    height: 100vh;
    background-color: #36454F;
    color: white;
    justify-content: space-around;
    align-items: center;
}

#back
{
    width:25px;
    height: auto;
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
}

#info
{
    width: 35px;
    height: 35px;
    margin-left: 1%;
}

.content
{
    display: flex;
    flex-direction: column;
    padding: 2%;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.warea
{
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-sizing: border-box;
    min-width: none;
    width: 100%;
    height: 100%;
    background-color: yellowgreen;
    padding: 3%;
}

.cinfo
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: lightpink;
    border-radius: 1rem;
    margin-bottom: 1%;
}